<% include ./partials/customerHeader %>
<!--================Header Menu Area =================-->
<section id="Dashboard" class="dash_banner_area">
    <div class="dash_banner_inner d-flex align-items-center">
       <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
       <div class="container">
           <div class="dash_banner_content text-center">
            <h3>Welcome Contractor</h3>
            <br>
            <br>
            <span>The site is under maintenance right now. We Will be back soon</span>
         </div>
     </div>
 </div>
</section>
<% include ./partials/footer %>
