<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>Co-Builders</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>

    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="top_menu row m0">
            <div class="float-right">
                <span class="follow_us">Follow us: </span>
                <ul class="list header_social">
                    <li><a href="#"><i class="ti-facebook"></i></a></li>
                    <li><a href="#"><i class="ti-twitter"></i></a></li>
                    <li><a href="#"><i class="ti-instagram"></i></a></li>
                </ul>	
            </div>
        </div>	
    </div>	
    <div class="main_menu">
       <nav class="navbar navbar-expand-lg navbar-light">
           <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <a class="navbar-brand logo_h" href="/">Co-Builders</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
             </button>
             <!-- Collect the nav links, forms, and other content for toggling -->
             <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="/">Home</a></li> 
                    <li class="nav-item"><a class="nav-link" href="/#about">About</a></li> 
                    <li class="nav-item"><a class="nav-link" href="/#customer">Customer</a></li> 
                    <li class="nav-item"><a class="nav-link" href="/#contractor">Contractor</a></li>    
                    <!-- <li class="nav-item submenu dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="nav-link" href="#">Customer Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="single-blog.html">Contractor Login</a></li>
                        </ul>
                    </li>  -->
                    <li class="nav-item"><a class="nav-link" href="/#contact">Contact</a></li>
                    
                        
                    <li class="nav-item active"><a href="/logout" class="nav-link">Logout</a></li>
                      
                </ul>
            </div>
            </div>
        </nav>
    </div>
    <div class="container mt-1 " style="width:550px;">
        <% if(error && error.length>0){ %>
          <div class="alert alert-danger text-center " role="alert">
              <%=error%>
            </div>
        <%} %>
        <% if(success && success.length>0){ %>
          <div class="alert alert-success text-center " role="alert">
              <%=success%>
            </div>
        <%} %>
        
      </div>

    </header><br>
<br>
<h1>Hello Contractor</h1>
<br>
<% include ./partials/footer %>
