<% include ./partials/customerHeader %>
<section id="project" class="profile_area"> 


    <div class="constructionrequirement">
            <h4>Project Requirements</h4>
            <form id=userrequirementform action="/customer/<%=currentUser._id%>/project?_method=PUT" method="POST">
                <div class=bedroomreqgroup>
                <label>Bed Room</label>
                 <select class="bedroom#requirement" id="bedroomid" name="customer[bedroomreq]">
                 <option value="1">1</option>
                 <option value="2">2</option>
                 <option value="3">3</option>
                 <option value="4">4</option>
                 <option value="4+">4+</option>
                 </select> 
                </div>
                <div class="hallreqgroup">
                <label>Hall</label>
                <select class="hall#requirement" id="hallid" name="customer[hallreq]">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="4+">4+</option>
                </select>
                </div>
                <div class="kitchenreqgroup">
                <label>Kitchen</label>
                <select class="kitchen#requirement" id="kitchenid" name="customer[kitchenreq]">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="2+">2+</option>
                </select>
            </div>
            <div class="bathroom#group">
                <label>Bathroom</label> 
                <select class="bathroom#requirement" id="bathroomid" name="customer[bathroomreq]"> 
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="3+">3+</option>
                </select>
            </div>
            <div class="prayerroom#group">
                <label>Prayer Room <input type="checkbox" name="prayerroomreq"></label>
            </div>
            <div class="studyroom#group">
                <label>Study Room<input type="checkbox" name="studyroomreq"></label>
            </div> 
            <div class="diningroom#group">
                <label>Dining Room<input type="checkbox"name="diningroomreq"></label>
            </div>
            
            <div class="workarea#group">
                    <label>Work Area<input type="checkbox" name="workareareq"> </label>
                </div>
                <div class="utilityroom#group">
                    <label>Utility Room<input type="checkbox" name="utilityroomreq"> </label>
                </div>
                <div class="carporch#group">
                    <label>Car Porch<input type="checkbox" name="carporchreq"></label>
                </div>
                <div class="additional#group">
                    <label>Additional Discription</label>
                    <!-- TEXT AREA EDIT NEEDED IN FORMAT -->
                    <textarea class="additional#requirement" name="additionalreq"  width="10" rows="5"></textarea>
                </div>
                <div class="formbutton">
                    <input type="button" value="Submit" id="form-submit-button">

                </div>
           </form>
        </div>
        
    </section>
                   
    