@import url("https://fonts.googleapis.com/css?family=Heebo:400,500,700|Roboto:300,400,500,700");
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.list {
  list-style: none;
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

.row.m0 {
  margin: 0px; }

body {
  line-height: 24px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  /* color: #888888;  */
  background: #f2fcfe;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #1c92d2,#f2fcfe );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,  #1c92d2,#f2fcfe); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

h1, h2, h3, h4, h5, h6 {
  font-family: "Heebo", sans-serif;
  font-weight: bold; }

button:focus {
  outline: none;
  box-shadow: none; }

.p_120 {
  padding-top: 120px;
  padding-bottom: 120px; }

.pad_top {
  padding-top: 120px; }

.mt-25 {
  margin-top: 25px; }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

img {
  max-width: 100%; }

ul {
  list-style: none;
  padding: 0; }

@media (min-width: 1620px) {
  .box_1620 {
    max-width: 1650px;
    margin: auto; } }


/*----------------Sidebar Styling---------------- */

.sidebar{
    top:0;
    padding-top: 20px;
    position:fixed;
    left:0;
    width: 300px;
    height: 100%;
    background: #042331;
    z-index: 5;
    transition: all .5s ease;
  }
  
  .sidebar header{
    color: rgb(241, 207, 92);
        height: 80px;
        text-align: center;
        line-height: 69px;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 700;
        user-select: none;
  }
  .sidebar ul li{
    list-style: none;
    
  }
  .sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 69px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s ;
  }
  .sidebar ul li ul{
    background: #031c27;
    display: none;
    position: absolute;
  }
  .sidebar ul li ul li{
    margin-left: 25%;
    height: 100%;
    width: 100%;
    background: #031c27;

  }
  .sidebar ul li ul li a{
    transition: .4s ;
    line-height: 69px;
    font-size: 20px;
    padding-right: 35px;
    align-items: center;
    color: white;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255,255,.1);
    border-bottom: 1px solid black;
  }
  
  .sidebar ul li:hover a{
      padding-left: 65px;
      color: #f8d22b;
  }
  .sidebar ul li ul li:hover a{
    color: #9e8204;
    display: block;
  }
  .sidebar ul li:hover ul{
    display: block;
}
  
  #check-btn{
    display: none;
  }
   label #open-btn, label #close-btn{
     position: absolute;
     cursor: pointer;
     background: #042331;
     border-radius: 3px;
   }
  
   label #open-btn{
     z-index: 9;
     left: 300px;
     opacity: 0;
     pointer-events:none;
     top: 50px;
     font-size: 35px;
     color: white;
     padding: 6px 12px;
     transition: all .6s;
   }
   
   label #close-btn{
     position: fixed;
     z-index: 10;
     left: 255px;
     top: 33px;
     font-size: 30px;
     color: #0a5275;
     padding: 4px 9px;
     transition: all .5s ease;
   }
  
   #check-btn:checked ~ .sidebar{
     left: -300px;
   }
  
  #check-btn:checked ~ label #open-btn{
    left:40px;
    opacity: 100%;
    pointer-events: auto;
  }
  
  #check-btn:checked ~ label #close-btn{
    left:-255px;
  }
  #check-btn:checked ~ #Dashboard {
    margin-left: 0;
  }
  
  #check-btn:checked ~ #Profile{
    margin-left: 0;
  }
  
  #check-btn:checked ~ #edit_profile{
    margin-left: 0;
  }
  
  #check-btn:checked ~ #contractor_details{
    margin-left: 0;
  }
  
  #check-btn:checked ~ #project{
    margin-left: 0;
  }
  .dash_banner_area {
    margin-left: 350px;
    position: relative;
    z-index: 1;
    min-height: 770px; }
  
    .customer_dash_content{    
    width: auto;
    margin: 15px 10%;
    padding: 0 35px;
    padding: 0 ;
    z-index:3;
    display: flex;
    }
    .customer_dash_content .cont-accept{
      margin: 0;
      margin-left: 525px;
      margin-top:25px;
      z-index: 6;
      position: absolute;
    }
    .customer_dash_content .cont-accept i {
      font-size: 20px;
    }
    .customer_dash_content .cont-accept p{
      line-height: 25px;
      text-transform: uppercase;
      font-size: 18px ;
      font-weight: bold;
    }
  .details_banner_area{
    margin-left: 350px;
    position: relative;
    z-index: 1;
    min-height: 770px;
  }
  .profile_area{
    margin-right: 30px;
    padding-top: 10px;
    top: 15%;
    margin-left: 350px;
    position: relative;
    z-index: 2;
    min-height: 700px;
    background: none;
  }
  
  .profile_area .profile_header{
    padding-left: 25px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
  }
  
  .profile_area .profile_header a{
    text-decoration: none;
    transition: all 0.3s ease-in-out; }
    .profile_area .profile_header a:hover, a:focus {
      text-decoration: none;
      outline: none;}
    
  
  .profile_area .profile_header h3{
    font-size: 35px;
    color: #202e31;
    font-family: "Heebo", sans-serif;
    line-height: 40px;
    margin-bottom: 0;
    cursor: default;
  }
  
  .profile_area .profile_content{
    top: 5px;
    background: none;  
  }
  
  .profile_area .profile_content .profile_image{
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .profile_image img{
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
  .profile_area .profile_content .profile_name p{
    margin-top: 10px;
    margin-left: 15px;
  }
  .profile_area .profile_content h4{
    font-size: 30px;
    font-family: "Heebo", sans-serif;
    line-height: 30px;
    margin-bottom: 0;
    cursor: default; 
  }
  .profile_area .profile_content .profile_name p{
    font-size: 25px;
    color: #202e31;
    font-family: "Heebo", sans-serif;
    line-height: 25px;
    margin-bottom: 0;
    cursor: default;
  }
  .profile_area .profile_content .profile_information  p{
    font-size: 20px;
    color: #202e31;
    font-family: "Heebo", sans-serif;
    line-height: 25px;
    margin-bottom: 0;
    margin: 10px;
    cursor: default;
  }
  
  .edit_area{
    margin-right: 30px;
    padding-top: 10px;
    top: 15%;
    margin-left: 350px;
    position: relative;
    z-index: 2;
    min-height: 700px;
    background: none;
  }
  
  .edit_area .edit_header{
    padding-left: 25px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
  }
  
  /* .edit_area .edit_header i{
    margin-right: 5px;
  } */
  
  .edit_area .edit_header h3{
    font-size: 35px;
    color: #202e31;
    font-family: "Heebo", sans-serif;
    line-height: 40px;
    margin-bottom: 0;
    cursor: default;
    text-transform: uppercase;
  }
  
  
  .contractor_dash_content{
    width: auto;
    margin: 0 10%;
    padding: 30px 10%;
    padding: 0 ;
    z-index:3;
    display: flex;
    justify-content: center;
  }
  
  .contractor_dash_content .dash_button{
    margin-left: 650px;
    margin-top:15px;
    z-index: 6;
    position: absolute;
  }
  .contractor_dash_content .dash_button >form {
    display: inline-block;
  }
  
   .contractor_dash_content .dash_button .btn{
    width:50px;
  } 
  
  .project_area{
    margin-left: 350px;
    position: relative;
    z-index: 1;
    min-height: 770px;
  }
  
  .project_edit_area{
    margin-left: 350px;
    position: relative;
    z-index: 1;
    min-height: 770px;
  }
.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}
  .plan_area{
    margin-left: 350px;
    position: relative;
    z-index: 1;
    min-height: 770px;
  }
  /* .plan_content{

  } */
  