<% include ../partials/customerHeader %>

<section id="Dashboard" class="dash_banner_area">
    <div id="messages">
    </div>
    <div class="container">
        <br>
        <div class="jumbotron">
            <h1 class="display-4"><%= contractor.username %> Chat</h1>
            <hr class="my-4">
            <br>
            <p class="lead"><%= currentUser.username %></p>

            <br>
            <textarea id = "message" class="form-control" placeholder="Your Message Here">
            </textarea>
            <br>
            <button id="send" class="btn btn-success">Send</button>
        </div>
       
    </div>
</section>
    

<% include ../partials/customerFooter %>
