<% include ../partials/customerHeader %>

<section id="Dashboard" class="dash_banner_area">
    
    <div class="container">
        <br>
        <div class="jumbotron">
            <h1 class="display-4"><%= contractor.username %> Chat</h1>
            <hr class="my-4">
            <br>
            <div id="messages">
              <% if(message.message){%>
                <h4> message.name </h4>
                <p>  message.message </p>
              <%} else {%>
              
              <%}%>
            </div>
            <br>
            <!-- <p class="lead"><%= currentUser.username %></p> -->

            <br>
            <textarea id = "message" class="form-control" name="chat[message]" placeholder="Your Message Here">
            </textarea>
            <br>
            <form action="/customer/chat/<%=message._id%>" method="POST">
              <button id="send" class="btn btn-success">Send</button>
            </form>
        </div>
       
    </div>
</section>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>
  
</script>
<% include ../partials/customerFooter %>
