<% include ../partials/customerHeader %>

<section id="Dashboard" class="dash_banner_area">
    
    <div class="container">
        <br>
        <div class="jumbotron">
            <h1 class="display-4"><%= contractor.username %> Chat</h1>
            <hr class="my-4">
            <br>
            <div id="messages">
            </div>
            <br>
            <p class="lead"><%= currentUser.username %></p>

            <br>
            <textarea id = "message" class="form-control" placeholder="Your Message Here">
            </textarea>
            <br>
            <button id="send" class="btn btn-success">Send</button>
        </div>
       
    </div>
</section>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script>
    $(() => {
    $("#send").click(()=>{
       sendMessage({
          message:$("#message").val()});
        })
      getMessages()
    })
    
function addMessages(message){
   $('#messages').append(`
      <h4> ${message.name} </h4>
      <p>  ${message.message} </p>`)
   }
   
function getMessages(){
  $.get("http://localhost:1690/messages", (data) => {
   data.forEach(addMessages);
   })
 }
 
function sendMessage(message){
   $.post("http://localhost:3000/messages", message)
 }
</script>
<% include ../partials/customerFooter %>
