<% include ../partials/customerHeader %>
<section id="Dashboard" class="dash_banner_area">
<div class="container">
    <div class="card">
        <div class="card-body align-items-center">
            <h3><%=otherUser.username%></h3>
            <hr class="my-1">  
            <% otherUser.feedback.forEach(function(feedback){%>
                
                <%if(feedback.projectid.toString()===project._id.toString()){%>
                    <div class="container">
                        
                        <p class="lead font-weight-bold"><%=feedback.headline%></p>
                        <p class="font-weight-normal"><%=feedback.review%></p>
                        <a class="btn btn-primary" href="/customer/<%=project._id%>/feedback/edit" role="button">Edit</a>

                    </div>     
                <%}else{%>
                    <%console.log("it shouldn't reach here")%>
                <%}%>   
            <%})%>
                 
        </div>
    </div>
</div>

</section>        
<% include ../partials/footer %>    