<% include ../partials/header %>

<!--================Sign-up form area=================-->
    <section class="customer-signup">
        <div class="signup-form">
            <form action="/customer-signup" method="post">
                <h2>Customer Sign Up</h2>
                <p>Please fill in this form to create an account!</p>
                <hr>
                <div class="form-group">
                    <input type="text" class="form-control" name="username" pattern="[A-Za-z]{3,30}"  placeholder="Enter your Name" maxlength="30" required="required" >
                </div>   
                    
                <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Enter your Email" required="required">
                </div>
                <div class="form-group">
                    <input type="tel" class="form-control" name="mobile" pattern="[1-9]{3}[0-9]{3}[0-9]{4}" placeholder="Enter your Mobile No." maxlength="10" required="required">
                </div>
                <div class="form-group">
                    <label>Home Address</label>
                       <textarea class="form-control" name="customer[address]" rows="5" minlength="20" maxlength="1000"  ></textarea>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="cust_pass1" name="password" minlength="8" maxlength="30" placeholder="Enter your Password" required="required">
                </div> 
                <div class="form-group">
                    <input type="password" class="form-control" id="cust_pass2" name="repassword"  minlength="8" maxlength="30" placeholder=" Re-enter your password" required="required">
                </div> 
                <p id="pass_match1"> Password doesn't match</p>
                <div class="form-group">
                    <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
                </div>
                <div class="hint-text">Already have an account? <a href="/#customer">Login here</a></div>
    
           </form>
        </div> 
    </section>

    <% include ../partials/footer %>
