<% include ../partials/contractorHeader %>
<section id="customer" class="plan_area">
    <div class="container">
        <p class="lead">Create Task Schedule <a id="add" href="#"><i class="far fa-plus-square"></i></a></p>
        <hr class="my-4">  
        <form action="/contractor/<%=currentUser._id%>/project/schedule" method="post">
            <div class="plan">
                <div class="plan-content">
                    <div class="form-row justify-content-md-center">
                        <div class="col-lg-3">
                            <input type="date" name="planDate[day[1]]">
                        </div> 
                        <div class="col-lg-9">
                            <input type="text" name="planDate[plan[1]]"  maxlength="65" class="form-control" placeholder="Task Detail" >
                        </div>           
                    </div>
                </div>
                
            </div>
        </form>
        
    </div>
</section>    


<% include ../partials/contractorFooter %>
<script>
const add = document.getElementById("add");
const plan = document.querySelector(".plan");
var numOfElement = document.querySelectorAll(".plan-content").length;
console.log(numOfElement);
add.addEventListener("click",(e) =>{
    ++numOfElement;
    e.preventDefault();
    const div = document.createElement('div');
    div.classList.add('plan-content');
    div.innerHTML = `<div class="form-row justify-content-md-center">
                    <div class="col-lg-3">
                        <div class="plan-date">
                        </div>
                    </div> 
                    <div class="col-lg-9">
                        <div class="plan-detail">
                        </div>
                    </div>           
                </div>`;
    document.querySelector('.plan').appendChild(div);

    var input1 = document.createElement("input");
        input1.type = "date"        
        input1.name = "planDate[day[" + numOfElement +"]]";
        document.querySelector('.plan-date').appendChild(input1);
    var input2 = document.createElement("input");
        input2.type = "text"        
        input2.name = "planDate[plan[" + numOfElement +"]]";
        input2.maxLength="65";
        input2.placeholder="Task Detail";
        input2.classList.add('form-control');
        document.querySelector('.plan-detail').appendChild(input2);           

})
</script>


